<div class="container">
    <form id="form" method ="post">
        <div class="form-group">
            <label> Sign Here</label>
        </div>
        <div class="form-group">
            <canvas id="canvas" width="900" height="80"></canvas>
            <input type="hidden" id="signature" name="signature">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
