<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Petition App - Home</title>
</head>
{{> head}}
<body>
    {{> header }}
{{> form }}

</body>
<script src="/javascripts/canvas.js"></script>
</html>
