<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Petition App - Home</title>
</head>
{{> head}}
<body>

{{> header}}

<div class="container">

    <h1> Edit your profile {{user.firstname}}</h1>
</div>

{{> update }}

{{>footer}}
</body>
</html>
