<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Petition App - Home</title>
</head>
{{> head}}
<body>

    {{> header }}
<div class="container">
    <p>
    Thank you for your support!
    </p>

    <p>
   <img src="{{signature}}">
    </p>
    <p>
        See all the People who already  <a href="signers">signed!</a>
    </p>
</div>

</body>

</html>
